# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# latex
*.aux
*.log
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.lof
*.lot

# Maven
Application/target/
Application/pom.xml.tag
Application/pom.xml.releaseBackup
Application/pom.xml.versionsBackup
Application/pom.xml.next
Application/release.properties
Application/dependency-reduced-pom.xml
Application/buildNumber.properties
Application/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/Application/.mvn/wrapper/maven-wrapper.jar

# Netbeans
Application/nbproject/private/
Application/build/
Application/nbbuild/
Application/dist/
Application/nbdist/
Application/.nb-gradle/
