.button {
    -fx-font-weight: bold;
}

/*
#pane{
    -fx-background-image: url("../../../images/background/fond.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1368 1026;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
*/

#chalet{
	-fx-background-image: url("../../../images/background/chalet.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 38 38;
    -fx-background-position: center center;
}

#chaletVs{
	-fx-background-image: url("../../../images/background/chalet_vs.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 38 38;
    -fx-background-position: center center;
}

#sapin{
	-fx-background-image: url("../../../images/background/sapin.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 38 38;
    -fx-background-position: center center;
}
